<template>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>

<script>
export default {
  beforeCreate() {
    this.$i18n.locale = this.$route.params.lang.toLowerCase();
  }
}
</script>
