<template>
  <main role="main">
    <h1>{{ $t("character_select.title") }}</h1>
    <router-link :to="'/' + $route.params.lang + '/story/' + id"
                 v-for="(character, id) in characters[$route.params.lang]"
                 :key="id">
      <div class="character">
        <div class="picture">
          <img :src="character.picture" :alt="'Picture of ' + character.name"/>
        </div>
        <div class="more-info">
          <div class="name">{{ character.name }}</div>
          <div class="desc">{{ character.desc }}</div>
        </div>
      </div>
    </router-link>
  </main>
</template>

<script>
import characters from '../assets/characters.json';

export default {
  name: "CharacterSelect",
  data() {
    return {
      characters
    }
  },
  beforeCreate() {
    this.$i18n.locale = this.$route.params.lang.toLowerCase();
  },
}
</script>

<style scoped lang="scss">
.character {
  display: inline-block;
  vertical-align: top;
  background-color: white;
  border-radius: 10px;
  color: #222;
  padding: 20px;
  width: 240px;
  margin: 5px 15px;

  .name {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 150%;
  }

  .more-info {
    margin-top: 0;
    transition: all .5s;
  }

  .desc {
    height: 0;
    overflow: hidden;
    transition: all .5s;
  }


  &:hover {
    .more-info {
      margin-top: -150px;
    }

    .desc {
      height: 150px;
    }
  }
}
</style>