<template>
  <select id="country-selector" v-model="countryName">
    <option disabled value="">{{ $t('path.country_selector.blank_choice') }}</option>
    <option v-for="c in $tm('path.country_selector.countries')" :key="c">{{ c }}</option>
  </select>
</template>

<script>
export default {
  name: "CountrySelector",
  data() {
    return {
      countryName: null
    }
  },
  mounted() {
    if (localStorage.countryName) {
      this.countryName = localStorage.countryName;
    } else {
      this.$emit('hideShowChoices', false)
    }
  },
  watch: {
    countryName(newSelected) {
      localStorage.countryName = newSelected;
      this.$emit('hideShowChoices', true)
    }
  }
}
</script>

<style scoped lang="scss">
#country-selector {
  margin: 15px;
  padding: 10px;
  font-size: 120%;
  border: none;
  box-shadow: 0 0 4px #999;
  border-radius: 10px;
  background: white;
}
</style>
