<template>
  <main role="main" v-if="loading">
    {{ $t('global.loading') }}
  </main>
  <p v-if="error">
    {{ $t('global.errors.main') }}
  </p>
  <transition name="fade" v-if="!loading && path">
    <main role="main" class="message" v-show="showMessage">
      <p class="text" style="white-space: pre-line" v-html="currentMessage.text">
      </p>
      <div v-if="countrySelectorDisplay">
        <CountrySelector @hideShowChoices="hideShowChoices"></CountrySelector>
      </div>
      <div class="options" v-show="showChoices">
        <div class="choice" v-for="choice in currentMessage.choices" :key="choice" @click="goTo(choice.next)">
          {{ choice.option }}
        </div>
      </div>
      <div class="more-actions">
        <a @click="previous()" v-if="history.length > 0">{{ $t('global.actions.previous') }}</a>
        <a @click="reset()" v-if="currentMessage.id !== 1 && currentMessage.id !== '1'">{{ $t('global.actions.reset') }}</a>
      </div>
    </main>
  </transition>
  <div class="debug-info">#{{ currentMessage.id }}</div>
</template>

<script>
import CountrySelector from "@/components/CountrySelector";
export default {
  name: 'MessagePath',
  components: {CountrySelector},
  data() {
    return {
      path: null,
      loading: false,
      error: false,
      showMessage: true,
      showChoices: true,
      currentMessage: {},
      history: [],
      countrySelectorDisplay: false
    }
  },
  beforeCreate() {
    this.$i18n.locale = this.$route.params.lang.toLowerCase();
  },
  mounted() {
    this.loading = true;
    localStorage.removeItem('countryName');

    fetch('/paths/' + this.$route.params.lang + '_' + this.$route.params.character+'.json', {
      method: 'get',
      headers: {
        'content-type': 'application/json'
      }
    })
        .then(res => {
          // a non-200 response code
          if (!res.ok) {
            // create error instance with HTTP status text
            const error = new Error(res.statusText);
            error.json = res.json();
            throw error;
          }

          return res.json();
        })
        .then(json => {
          // set the response data
          this.path = json;
          this.display(1);
        })
        .catch(err => {
          console.log('error', err);
          this.error = true;
        })
        .then(() => {
          this.loading = false;
        });
  },
  methods: {
    display(messageId) {

      let messageToDisplay = {
        "id": messageId,
        "text": this.path[messageId].text,
        "choices": this.path[messageId].choices
      }

      // replace variables with data in local storage
      if (localStorage.countryName !== undefined) {
        messageToDisplay.text = messageToDisplay.text.replaceAll('[name of the country]', localStorage.countryName);
      }

      // show/hide needed components for message
      this.countrySelectorDisplay = false;
      if ('extra' in this.path[messageId]) {
        if (this.path[messageId].extra.includes("countrySelector")) {
          this.countrySelectorDisplay = true;
          this.showChoices = false;
        }
      }

      this.currentMessage = messageToDisplay;
    },
    goTo(messageId) {
      if (messageId < 0) {
        this.$router.push({ path: '../' })
      } else {
        this.history.push(this.currentMessage.id);
        this.display(messageId);
      }
    },
    previous() {
      this.display(this.history.pop());
    },
    reset() {
      this.showMessage = false;
      let that = this;
      setTimeout(function () {
        that.history = [];
        that.display(1);
        that.showMessage = true;
        localStorage.removeItem('countryName');
      }, 500);
    },
    hideShowChoices(bool) {
      this.showChoices = bool;
    }
  }
}
</script>

<style scoped lang="scss">
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.debug-info {
  color: transparent;
}

.message {
  background-color: white;
  border-radius: 10px;
  color: #222;
  padding: 30px;
  width: 800px;
  margin: auto;

  .text {
  }

  .options {
    .choice {
      width: 100%;
      margin: 10px auto;
      color: white;
      background-color: #1f8aea;
      padding: 20px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      &:hover {
        background-color: #1071c9;
      }
    }
  }

  .more-actions {
    a {
      cursor: pointer;
      margin: 5px;

      &:hover {
        color: darkblue
      }
    }
  }
}
</style>
