* {
  box-sizing: border-box;
}

body {
  background: rgb(0,51,153);
  background: linear-gradient(90deg, rgba(99,0,255,1) 30%, rgba(0,51,153,1) 100%);

  color: white
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}