<template>
  <header role="banner">
    <nav role="navigation">
      <router-link :to="'/' + $i18n.locale"><div class="logo">AccessiblEu</div></router-link>
      <router-link :to="'/' + $i18n.locale + '/about'">{{ $t('nav.about') }}</router-link>
    </nav>
  </header>
  <router-view/>
  <footer role="contentinfo">
    {{ $t('footer.sponsor') }}
    <br>© 2022 AccessiblEu
  </footer>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  header {
    text-align: left;
    margin: 30px 80px 25px;

    nav {
      vertical-align: center;

      .logo {
        display: inline-block;
        font-size: 30px;
      }

      a {
        margin-left: 20px;
        color: white;
        text-decoration: none;
        opacity: .8;
        transition: .3s;

        &:hover {
          opacity: 1;
          text-decoration: underline;
        }
      }
    }
  }

  footer {
    margin-top: 20px;
    opacity: .5;
    transition: opacity .2s;

    &:hover {
      opacity: 1;
    }
  }
}
</style>
